<div class="repartidor-container">
  <h2 class="titulo">Pedidos Pendientes</h2>

  <ng-container *ngIf="pedidos.length > 0; else noPedidos">
    <div class="pedido-grid">
      <div *ngFor="let pedido of pedidos" class="pedido-card">
        <div class="card-header">
          <div class="icono-usuario">👤</div>
          <h4>{{ pedido.usuario.nombres }}</h4>
        </div>

        <div class="card-body">
          <p><strong>Dirección:</strong> {{ pedido.direccionLegible || pedido.direccionEntrega }}</p>
          <p><strong>Total:</strong> <span class="precio"> S/{{ pedido.total | number:'1.2-2' }}</span></p>
        </div>

        <button (click)="verDetalle(pedido)">Ver Ubicación</button>
      </div>
    </div>
  </ng-container>

  <ng-template #noPedidos>
    <p class="sin-pedidos">No hay pedidos pendientes.</p>
  </ng-template>
</div>
